input {
    width: 95%;
    height: 45px;
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin: 10px auto;
}

img{
    height: 75px;
    padding: 0;
    margin: 0;
}