input {
    width: 95%;
    height: 45px;
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin: 10px auto;
}

img{
    height: 75px;
    padding: 0;
    margin: 0;
}

.captcha_view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 95%;
}

.captcha_view input{
    flex: 2;
}

.captcha_view img {
    height: 40px;
    margin: 5px;
}

.captcha_view p{
    font-size: 22px;
    text-align: center;
    color: #000;
}

.errormsg{
    font-size: 20px;
    font-weight: bold;
    color: red;
}